.card {
    position: absolute;
    width: 60vw;
    height: 120vh;
    background-color: #223120;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0vh 0vh 5vh rgba(0, 0, 0, 0.2));
    border-radius: 3rem;
    border-style: solid;
    border-color: #202e1e;
    border-width: 0.7vh;
}

.subtitle {
    position: absolute;
    color: white;
    font-size: 6vh;
    font-weight: 800;
    letter-spacing: 0.1vw;
    left: 4vw;
}

.paragraph {
    position: absolute;
    color: white;
    font-size: 2.5vh;
    font-weight: 500;
    letter-spacing: 0.1vw;
    left: 4vw;
    z-index: 10;
    width: 52vw;
}

#about {
    top: 4vh;
}

#about-p {
    top: 12vh;
    font-size: 2.38vh;
}

#ichi {
    top: 10vh;
}

.icon1 {
    position: absolute;
    font-size: 5vh;
    left: 18.65vw;
    top: 19.2vh;
    z-index: 10;
}

#staff {
    top: 150vh;
    left: 5vw;
}

.icon2 {
    position: absolute;
    font-size: 16vh;
    left: 3vw;
    top: 149vh;
    z-index: 10;
    opacity: 0.05
}

.section {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-weight: 700;
    letter-spacing: 0.1vw;
    left: 6vw;
    z-index: 10;
    width: 52vw;
}

#staff-presidents {
    top: 163vh;
}

#presidents {
    top: 169vh;
    left: 6.5vw;
}

#staff-advisors {
    top: 175vh;
}

#advisors {
    top: 181vh;
    left: 6.5vw;
}

#staff-secretary {
    top: 187vh;
}

#secretary {
    top: 193vh;
    left: 6.5vw;
}

#staff-treasurer {
    top: 197vh;
}

#treasurer {
    top: 203vh;
    left: 6.5vw;
}

#staff-officers {
    top: 207vh;
}

#officers {
    top: 213vh;
    left: 6.5vw;
}

#members-title {
    top: 163vh;
    left: 27vw;
}

#members1 {
    top: 169vh;
    left: 27.5vw;
}

#members2 {
    top: 169vh;
    left: 40.5vw;
}

#members3 {
    top: 169vh;
    left: 53.5vw;
}

#legacy-members-title {
    top: 163vh;
    left: 70vw;
}

#legacy-members {
    top: 169vh;
    left: 70.5vw;
}

.more {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 140vh;
    background-color: transparent;
}