@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800&display=swap');

body {
    background-color: #273625;
    overflow: hidden;
    margin: 0vh;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: white;
}

a, u {
    text-decoration: none;
}

::selection {
    background-color: #3c5039
}

#heading {
    position: absolute;
    font-weight: 400;
    font-size: 2vh;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    z-index: 5
}

#title-box {
    position: absolute;
    width: 105%;
    height: 110%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.005) 0%, rgba(255, 255, 255, 0.05) 100%);
    border-radius: 2vw;
    overflow: hidden;
    filter: drop-shadow(0vh 0vh 1vh black);
    animation: slideIn 2s ease forwards;
    animation-delay: 1s;
}

pre {
    position: absolute;
    color: rgba(255, 255, 255, 0.05);
    font-size: 7vh;
    left: -25%;
    top: -45%;
    z-index: 1;
}

#title {
    position: absolute;
    color: white;
    white-space: pre-wrap;
    left: 48.5%;
    top: 48%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
    z-index: 2;
}

#optionbox {
    position: absolute;
    width: 100%;
    height: 15vh;
    background-color: transparent;
    font-weight: 700;
    font-size: 3.3vh;
    bottom: 0%;
}

#button1 {
    position: absolute;
    left: 4%;
    top: 150%;
    translate: (0%, -50%);
    width: 10vw;
    height: 7vh;
    color: white !important;
    border-radius: 2vw;
    background-color: #a8b23c34;
    transition: ease 0.5s;
    filter: drop-shadow(0vh 0vh 4vh black);
    animation: in 2s ease forwards;
    animation-delay: 1.5s;
}

#button1:hover {
    transition: ease 0.5s;
    background-color: #a8b23c70;
    scale: 1.1;
}

.icon1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 50%;
    font-size: 3vh;
}

#b-t1 {
    position: absolute;
    left: 60%;
    top: 0%;
    transform: translate(-50%, -50%);
}

#button2 {
    position: absolute;
    left: 16.5%;
    top: 150%;
    translate: (0%, -50%);
    width: 12vw;
    height: 7vh;
    color: white !important;
    border-radius: 2vw;
    background-color: #787a4656;
    transition: ease 0.5s;
    filter: drop-shadow(0vh 0vh 4vh black);
    animation: in 2s ease forwards;
    animation-delay: 2s;
}

#button2:hover {
    transition: ease 0.5s;
    background-color: #787a469c;
    scale: 1.1;
}

.icon2 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 50%;
    font-size: 3vh;
}

#b-t2 {
    position: absolute;
    left: 60%;
    top: 0%;
    transform: translate(-50%, -50%);
}

#button3 {
    position: absolute;
    left: 31%;
    top: 150%;
    translate: (0%, -50%);
    width: 12vw;
    height: 7vh;
    color: white !important;
    border-radius: 2vw;
    background-color: #4848386b;
    transition: ease 0.5s;
    filter: drop-shadow(0vh 0vh 4vh black);
    animation: in 2s ease forwards;
    animation-delay: 2.5s;
}

#button3:hover {
    transition: ease 0.5s;
    background-color: #484838bd;
    scale: 1.1;
}

.icon3 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 50%;
    font-size: 3vh;
}

#b-t3 {
    position: absolute;
    left: 60%;
    top: 0%;
    transform: translate(-50%, -50%);
}

#button4 {
    position: absolute;
    right: 4%;
    top: 150%;
    translate: (0%, -50%);
    width: 13vw;
    height: 7vh;
    color: white !important;
    border-radius: 2vw;
    background-color: #4848386b;
    transition: ease 0.5s;
    filter: drop-shadow(0vh 0vh 4vh black);
    animation: in 2s ease forwards;
    animation-delay: 1.5s;
}

#button4:hover {
    transition: ease 0.5s;
    background-color: #484838bd;
    scale: 1.1;
}

.icon4 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 18%;
    top: 50%;
    font-size: 3vh;
}

#b-t4 {
    position: absolute;
    left: 60%;
    top: 0%;
    transform: translate(-50%, -50%);
}

@keyframes slideIn {
    to {
        width: 92vw;
        height: 75vh;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
    }
}

@keyframes in {
    to {
        top: 20%;
    }
}